@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-app: #09090b;
  --bg-surface: #121215;
  --bg-card: #18181b;
  --border-app: #27272a;
  --border-subtle: #1f1f23;
  --text-primary: #fafafa;
  --text-secondary: #a1a1aa;
  --text-muted: #71717a;
  --accent-emerald: #10b981;
}

.light {
  --bg-app: #fcfcfc;
  --bg-surface: #f4f4f5;
  --bg-card: #ffffff;
  --border-app: #e4e4e7;
  --border-subtle: #f1f1f4;
  --text-primary: #09090b;
  --text-secondary: #52525b;
  --text-muted: #a1a1aa;
}

body {
  background-color: var(--bg-app);
  color: var(--text-primary);
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Dev-Tool Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Code highlight tokens */
code {
  font-family: 'JetBrains Mono', monospace;
}
